<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Onlie Shop Create a new account</title>
    <%- include('../overall/layout'); %>
  </head>
  <body>
    <header><%- include('../overall/header'); %></header>
    <h3>Create a new account</h3>
    <% if (locals.errorMessage != null && locals.errorMessage != undefined) { %>
    <div class="alert alert-danger" role="alert"><%= errorMessage %></div>
    <% } %>
    <form method="POST">
      <div>
        Name:
        <input
          class="form-control"
          type="text"
          placeholder="John Doe"
          name="name"
          value="<%= locals.name ?? `` %>"
        />
      </div>
      <div>
        Email:
        <input
          class="form-control"
          type="text"
          placeholder="name@example.com"
          name="email"
          value="<%= locals.email ?? `` %>"
        />
      </div>
      <div>
        Password: <input class="form-control" type="password" name="password" />
      </div>
      <div>
        <button
          class="btn btn-primary"
          type="submit"
          style="background-color: #612ee7; border-color: #612ee7"
        >
          Save
        </button>
      </div>
    </form>
  </body>
</html>
