<!-- views/shopping_cart.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Online Shop Shopping cart</title>
    <%- include('../overall/layout'); %>
  </head>
  <body>
    <header><%- include('../overall/header'); %></header>
    <h3>Here's your order </h3>
    <% cartEntries.forEach( cartEntry => { %>
      <div class="p-3">
        <div class="container-fluid" style="background-color: #e6e6fa;">
          <div class="d-flex justify-content-between align-items-center">
            <h3 class="mr-auto"> <%= cartEntry.name %></h3>
            <button type="button" class="btn btn-warning me-md-2" mr-auto>Remove from cart</button>
          </div>
          <h5>price: <%= cartEntry.price %></h5>
          <h5>desired: <%= cartEntry.desired %> out of <%= cartEntry.available %> available</h5>
          <h5><%= cartEntry.description %></h5>
        </div>
    </div>
    <% }) %>
    <div class="row">
    <h4 class="col-4">Finished with your order?</h4>
    <a type="button" href="/thankyou" class="btn btn-success me-md-2" mr-auto>I'm done</a>
  </div>
  </body>
</html>